header
{
    width: 100%;
    background-color: rgba(9, 5, 53, 0.76);
    border-radius: 10px;
}
body
{   
    background-image: url("../img/background.jpg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    font-size: 80%;
}

h1, h2 
{
    
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

h1 {
    font-weight: bold;
}

form 
{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

::placeholder {
    text-align: center;
}

#valid
{
    margin: auto;
    background-color: rgba(9, 5, 53, 0.76);
    color:white;
    border: none;
    border-radius: 5px;
}

#valid:hover
{
    background-color: green;
}

#grandpy 
{
    width: 50%;
    margin: auto;
    background-color: rgba(9, 5, 53, 0.76);
    border-radius: 10px;
}

#map
{
    width: 50%;
    margin: auto;
    text-align: center;
    height: 300px;
}
#searching
{
    opacity: 0.5;
}
main
{   
    line-height: 110%;
    color: rgb(199, 75, 37);
}

p
{
   margin:10px;
}
#question
{
    background-color: rgba(9, 5, 53, 0.76);
    border: none;
    border-radius: 10px;
    color: white;
}
strong 
{
    font-size: 110%;
    color: rgb(236, 98, 6);
}

#footer 
{
    margin: auto;
    width: 99%;
    background-color: rgba(9, 5, 53, 0.76);
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    color:white;
}
#user
{
    text-align: right;
    color: chartreuse;
}
#link
{
    color:  rgb(236, 98, 6);
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
