
header, footer
{
   
    background-color: rgba(9, 5, 53, 0.7);
    font-size: medium;
    color: lightgray;
    padding-top: 1px;
}

body
{   
    background-image: url("../img/background.jpg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
}

form 
{
    padding-top: 10px;
    padding-bottom: 10px;
}

::placeholder {
    text-align: center;
}

#valid
{
    
    background-color: rgba(9, 5, 53, 0.9);
    color:white;
    border-radius: 10px;
}

#valid:hover
{
    background-color: green;
}

#grandpy 
{   
    max-height: 500px;
    overflow: auto;
    scroll-behavior: smooth;
    background-color: rgba(9, 5, 53, 0.8);
    border-radius: 10px;
}
#map
{
    height: 300px;
}

main
{   
    padding: 1% 0 1% 0;
    line-height: 110%;
    color: rgb(199, 75, 37);
}

#question
{
    background-color: rgba(9, 5, 53, 0.76);
    border-radius: 15px;
    color: white;
}
strong 
{
    font-size: 110%;
    color: rgb(236, 98, 6);
}
#user
{
    text-align: right;
    color: lightgreen;
}

