<!DOCTYPE html>
<html lang="en" class="h-100">
    
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="description" content="Grandpy bot">
        <meta name="author" content="Sylvain Rieutor">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
         integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
         crossorigin="anonymous"/>

         <!-- Favicon -->
        <link rel="icon" type="image/png" href="..\static\img\logo.png" />
        
        <title>Grandpy Bot</title>
    </head>

    <body class="d-flex flex-column h-100 bg-secondary">

        <!-- Header -->
        <header class="header md-auto justify-content-sm-center border-bottom px-3 py-1 mb-1 bg-dark text-white">
            <div class="row w-100 justify-content-center">
                <img class="col-sm-auto img-fluid" style="max-width:25%" src="..\static\img\logo.png" alt="Granpy">
                <h1 class="col-sm-auto text-center"> Grandpy Bot</h1>
                <h2 class="d-flex flex-row-reverse col-sm-auto align-items-center text-center">Le papy qui trouve tout !</h2>
            </div>
        </header>

        <!-- Main -->
        <main>
            <!-- Welcome zone -->
            <div class="container justify-content-sm-center w-100"  style="max-width:25%">
                <div id="imgBox" class="row justify-content-sm-center">
                    <img id="welcome" class="py-1 img-fluid" src="..\static\img\carl.png" alt="Granpy">
                </div>
            </div>

            <!-- ChatBox zone -->
            <div id="chatbox" class="container justify-content-lg-center rounded bg-dark font-weight-bold text-info"></div>

            <!-- UserForm zone -->
            <form id="user_request" class="container align-self-center text-center py-1">
 
                <input class="col-md-5 col-sm-8 border-light rounded bg-light text-center text-dark my-1" type="text" id="question"
                    placeholder="Demande-moi ce que tu veux ici"
                    onFocus="if(this.value!='')this.value=''"/>

                <input class="col-xs-1 bg-primary text-dark border border-dark rounded" type="submit" id="valid" value="Valider"/>
                
            </form>

        </main>

        <!-- Sticky Footer -->
        <footer class="footer mt-auto border-top text-center py-1 bg-dark text-white">
            <div class="row mx-1 justify-content-md-around">
              <div class="col-md-auto border rounded text">
                Voir le code sur
                <a href="https://github.com/sylrie" target ="_blank">
                    GitHub <img src="..\static\img\github.png" class="img-fluid" alt="linkedin"></a>
              </div>
              <div class="col-md-auto border rounded">
                  Sylvain Rieutor
                  <a href="https://openclassrooms.com/" target ="_blank">
                    Openclassrooms <img src="..\static\img\OpenClassrooms.png" class="img-fluid" alt="linkedin"></a>
              </div>
              <div class="col-md-auto border rounded">
                Voir profil
                <a href="https://www.linkedin.com/in/sylvain-rieutor-7a558a157/" target ="_blank">
                    Linkedin <img src="..\static\img\linkedin.png" class="img-fluid" alt="linkedin"></a>
              </div>
            </div>
        </footer> 

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

        <!-- javaScript -->
        <script type="text/javascript" src="../static/js/index.js"></script>
        <!-- GoogleMaps -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJPIv3WDCKR5gPkNf9f_BOtUAlXX-MaxM"
        async defer></script>

    </body>
</html>
