<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/style.css" />
        <title>Grandpy Bot </title>
    </head>
    
    <body>
        
        <header>
            <div id="titre_principal">
                <h1>Grandpy Bot</h1>
                <h2>Le papy qui sait tout !</h2>
            </div>
        </header>

        <div id="map"></div>
        
        <form>
            <div><input type="text" size="60" id="question"
                placeholder="Demande-moi ce que tu veux ici"
                onFocus="if(this.value!='')this.value=''"/>
            </div>
            <div><input type="button" id="valid" value="Valider"/></div>
        </form>
        
        <main>
            <div id="grandpy">Réponse de papy...</div>
        </main>

        <footer id="footer">
            Retrouvez le code sur <a href="https://github.com/sylrie/P7_GrandPy.git">Github</a>
        </footer>
        
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

        <script type="text/javascript" src="../static/js/index.js"></script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJPIv3WDCKR5gPkNf9f_BOtUAlXX-MaxM&callback=initMap">
        </script>
    </body>

    
</html>
